.page {
  background-color: rgba(30, 78, 34, 0.973);
  color: rgb(0, 0, 0);
  min-height: 100vh;
}

.absoluteCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.withNavBar {
  min-height: calc(100vh - 4.1rem);
}

.content {
  background-color: #fff;
  padding: 1rem;
  min-height: 100vh;
}

.withNavBar .content {
  margin-top: 4rem;
  margin-bottom: 10rem;
  min-height: calc(100vh - 8.2rem);
}